defaults
    # never fail on address resolution
    default-server init-addr last,libc,none

frontend fr_http
    bind *:80
    mode http
    default_backend DK_HTTP
    
backend DK_HTTP
    mode http
    balance roundrobin
    option forwardfor
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    server node1 test-nginx:80 check
    server node2 test-nginx1:80 check
    
listen stats 
    bind *:9000
    mode http
    stats enable
    #stats hide-version
    stats show-node
    stats realm Haproxy\ Statistics
    stats uri /